 <!-- What We Do Section -->
    <section class="success" id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What We Do</h2>
                    <hr class="star-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We're a full-service web development and design shop, anchored in Durham, NC and with some roots in Boston, MA too.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our expertise is in:</p>
                    <p>- Full Drupal site builds: information architecture, theming, development</p>
                    <p>- Code reviews and site audits for security issues and best practices</p>
                    <p>- Data visualation and mapping projects</p>
                    <p>- Large scale data migration projects</p>
                </div>
            </div>
        </div>
    </section>
