 <!-- What We Do Section -->
    <section class="success" id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What We Do</h2>
                    <hr class="star-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <ul>
                        <li>Full Drupal site builds: information architecture, theming, development</li>
                        <li>Code reviews and site audits for security issues, coding standards and best practices</li>
                        <li>Data visualation and mapping projects</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li>Automated testing for your website, using Jenkins, Travis CI, and Behat</li>
                        <li>Large scale data migration projects</li>
                        <li>Contribute to community groups and open source projects</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
