 <!-- About Section -->
    <section id="whoweare">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who We Are</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Savas is a team of people. It's true.
                    It's Anne, Chris, Dan, Kosta, and Tim in alphabetical first
                    name order.</p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Eventually.... <br />
                        There will be a picture and a blurb <br />
                        For each person <br />
                        Once we actually, you know, do those things.
                    </p>
                </div>
            </div>

        </div>
    </section>